input {
  outline: none;
  background-color: skyblue;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px 15px;
  padding: 5px;
}
button {
  height: 40px;
  margin: 5px;
  background-color: brown;
  font-size: large;
  cursor: pointer;
}
